.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 800px;
    height: 800px;
    border: 1px solid black;
    color: rgb(47, 47, 47);
}

#item {

}
